<% if !flash[:notice].blank? %>
	<div class = "notice">
		<%= flash[:notice] %>
	</div>
<%end%>
<h1>Home Page</h1>

 
<%= link_to("Sign Up", {:controller => "Users",:action => 'new'}, :class => 'action new') %>
</br>
<%= link_to("Login", {:controller => "Sessions",:action => 'login'}, :class => 'action login') %>
</br>
<%= link_to("Logout", {:controller => "Sessions",:action => 'logout'}, :class => 'action logout') %>
<br />
<%= link_to("Resources", {:controller => "course_search",:action => 'index'}, :class => 'action index') %>
<br />

<br />
<h2>Links</h2>


<%= link_to "Desire to Learn", "https://d2l.ucalgary.ca/login.asp" "\n"%>
<br />
<%= link_to "My University of Calgary", "https://www.ucalgary.ca/" %>
<br />


<%= link_to "Campus Map", "http://ucmaps.ucalgary.ca/PublicFiles/CurrentMaps/CampusMap_MainCampus_Letter.pdf" %>



