<% if !flash[:notice].blank? %>
	<div class = "notice">
		<%= flash[:notice] %>
	</div>
<%end%>

<div id="container">
  <img src="/images/mainbackground.jpg" id="background-home">
	 <div class="col-xs-6">
		<p id="text-1">
		School is hard enough
		</p>
  </div>
 	
    <div class="col-xs-6">
	     <%= form_for(:user, :url => {:controller => 'Users', :action => 'new'}) do |f| %>
		  <table summary="Users form fields" id="user-input">
        <tr>
        	<th id="user-form">Username &nbsp; &nbsp; </th>
        	<td><%= f.text_field(:username)%></td>
      	</tr>
          <br>
      	<tr>
        	<th id="user-form">Email</th>
        	<td><%= f.text_field(:email) %></td>
      	</tr>
          <br>
      	<tr>
        	<th id="user-form">Password</th>
        	<td><%= f.password_field(:password) %></td>
      	</tr>
	   </table>
    <button class= "button" type="submit" value="Submit">SIGN UP!</button>
  	<%end%>
	</div>
</div>


