<h3>Forgot your password? Just enter your email!</h3>
<div>
 <%= form_tag(:action => 'forgot_password') do%>
  <table>
  	<td>&nbsp;<%= label_tag(:email)%></td>
  	<td>&nbsp;<%= text_field(:email, nil ,placeholder: "YourEmail@ucalgary.ca")%></td>
  	<td>&nbsp;<%= submit_tag("Reset Password", :class => 'btn btn-sm btn-warning')%></td>
  </table>
  <%end%>
 </div>

<br>
<% if !flash[:notice].blank?%>
 <div class="alert alert-danger">
  <strong>Opps!</strong><%= flash[:notice] %>
 </div> 
<% end %>