
<% @page_title = "Login" %>

<div class="login">
  <%= form_tag(:action => 'attempt_login') do %>
  <table>
    <tr>
      <td><%= label_tag(:email) %></td>
      <td><%= text_field_tag(:email) %></td>
      
    </tr>
    <tr>
      <td><%= label_tag(:password) %></td>
      <td><%= password_field_tag(:password) %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= submit_tag("Log In") %></td>
    </tr>
  </table>
  <% end %>
</div>

<forgotpass>
  <%= link_to("Forgot Password?", {:controller => 'Sessions', :action => 'forgot_password'}) %>
</forgotpass>

<br>
<% if !flash[:notice].blank?%>
 <div class="alert alert-success">
  <strong>Look at that! </strong><%= flash[:notice] %>
 </div> 
<% end %>