<%= link_to("<< Back to Home", {:controller => "Users",:action => 'home'}, :class => 'back-link') %>

<% @page_title = "Please validate your email!" %>

<div class= "login">
   <%= form_for(:sessions, :url => {:action => 'validate_email'}) do |f| %>
    <table summary="Users form fields">
    <tr>
      <td> <%= label_tag("Enter Code") %></td>
      <td> <%= f.text_field(:code)%></td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td><%= submit_tag("Verify") %></td>
    </tr>
  </table>
  <% end %>
</div>